.contact-form{
    background-color: rgb(255, 253, 253);
    box-shadow: 1px 1px 25px gray;
    padding: 40px 25px;
}

.contact-form input, .contact-form textarea{
    background-color: rgba(194, 194, 194, 0.212);
}