.content-box1, .content-box2, .content-box3{
    position: relative;
}

.shape-box{
    align-items: center;
}
.circle-shape, .circle-shape3{
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background-color: red;
    position: absolute;
    top: 6px;
    margin-left: 10px;
}
.line-shape, .line-shape3{
    width: 60px;
    height: 4px; 
    background-color: red;
    position: absolute;
    top: 12px;
    margin-left: 20px;
}
.line-shape2{
    width: 60px;
    height: 4px; 
    background-color: red;
    position: absolute;
    top: 12px;
    margin-left: -25px;
}
.circle-shape2{
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background-color: red;
    position: absolute;
    top: 6px;
    margin-left: -30px;
}





/**---------------feature bottom card section--------------*/
.feature-bottom{
    position: relative;
    width: 70%;
    margin: auto;
}
.feature-card{
    position: absolute;
    top: 32%;
    left: 10%;
    color: #fff;
}
.feature-btn{
    position: absolute;
    top: 40%;
    right: 10%;
}

.btn-feature{
    border-radius: 30px;
    padding: 10px 25px;
    background-color: #fff ;
    color: #f77f00 ;
    font-weight: 600 ;
  }