
.line-shape{
    width: 50px;
    height: 4px; 
    background-color: red;
    position: absolute;
    top: 10px;
    margin-left: 10px;
}





/**---------------feature bottom card section--------------*/
.feature-bottom{
    position: relative;
    width: 70%;
    margin: auto;
}
.feature-card{
    position: absolute;
    top: 32%;
    left: 10%;
    color: #fff;
}
.feature-btn{
    position: absolute;
    top: 40%;
    right: 10%;
}

.btn-feature{
    border-radius: 30px;
    padding: 10px 25px;
    background-color: #fff ;
    color: #f77f00 ;
    font-weight: 600 ;
  }