.footer-area{
    background-image: url('../../images/bg-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    border-bottom: .5px solid #fff;
    padding-bottom: 50px;
}

.footer-text p{
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    color:rgb(253, 213, 194);
}

.logo-box img{
    padding-bottom: 20px;
}
.logo-box p{
    padding-top: 10px;
    color: rgb(253, 213, 194);
}

.semi-header{
    font-weight: bold;
    color: #fff;
    padding: 20px 0;
}

.news-letter-input{
    padding: 12px 8px;
    width: 188px;
    border: none;
    border-radius: 5px 0 0 5px;
}
.news-letter-btn{
    padding: 12px 10px;
    margin: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: antiquewhite;
}

.social-icon ul li a{
    color: #fff;
    margin-right: 8px;
    font-size: 20px;
}

.social-icon ul li a:hover{
    color: lightgray;
}