.instruction-content{
    background-image: url('../../images/bg-5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.instruction-left-content{
    padding-left: 20%;
    padding-right: 10%;
}

.instruction-right-content{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
}

.instruction-right-content a{
    color: #f77f00;
    font-weight: bold;
    text-decoration: none;
}

.instruction-right-content h4{
    font-size: 20px;
    font-weight: 700;
    color: #4895ef;
    margin: 15px 0;
}