
.subscribe-input{
    display: flex;
    justify-content: center;
}
.subscribe-input input{
    padding: 15px;
    border-radius: 30px;
    width: 30%;
    border: 0.2px solid gainsboro;
}

.subscribe-btn{
    background-color: #f77f00;
    color: #fff;
    border-radius: 30px;
    padding: 15px 25px;
    margin-left: -50px;
    font-weight: bold;
}

.video-section{
    position: relative;
}
.play-btn{
    position: absolute;
    color: #fff;
    text-align: center;
    left: 35%;
    top: 30%;
    z-index: 10;
}

.play-btn .play-icon{
    font-size: 55px;
    color: #f77f00;
    background-color: #fff;
    padding: 0px;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}
.video-timer{
    position: absolute;
    align-items: center;
    bottom: 0;
    color: #fff;
}
.video-timer .paused-icon{
    background-color: gray;
    margin: 20px;
    padding: 10px 25px;
    border: 1px solid #f77f00;
    cursor: pointer;
}

.paused{
    margin-left: 15px;
}
.paused p{
    margin: 0;
}
.video-timeline{
    margin-left: 15px;
    width: 530px;
    height: 10px;
    background-color: #a8a8a7;
    border-radius: 10px;
}
.video-timeline2{
    margin-left: 15px;
    width: 420px;
    height: 10px;
    background-color: #f77f00;
    border-radius: 10px;
    position: absolute;
}