
.subscribe-input{
    display: flex;
    justify-content: center;
}
.subscribe-input input{
    padding: 15px;
    border-radius: 30px;
    width: 30%;
    border: 0.2px solid gainsboro;
}

.subscribe-btn{
    background-color: #f77f00;
    color: #fff;
    border-radius: 30px;
    padding: 15px 25px;
    margin-left: -50px;
    font-weight: bold;
}

.video-section{
    position: relative;
}
.play-btn{
    position: absolute;
    color: #fff;
    text-align: center;
    left: 30%;
    top: 50%;
    z-index: 10;
}
.video-timer{
    position: absolute;
    align-items: center;
    bottom: 0;
    color: #fff;
   
}
.video-timeline{
    width: 70%;
    height: 10px;
    background-color: #f77f00;
    border-radius: 10px;
}