.big-heading{
  font-size: 75px;
  font-weight: 900;
  color: black;
}
.small-heading{
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding: 15px 0;
}
.semi-heading{
  font-size: 20px;
  font-weight: bold;
  color: #f77f00;
  padding: 15px 0;
}

.btn-brand {
  border-radius: 30px !important;
  padding: 10px 25px !important;
  background-color: #f77f00 !important;
  color: #fff !important;
  font-weight: 600 !important;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

ul li a{
  text-decoration: none !important;
  color: rgb(253, 213, 194);
}