.App {
  text-align: center;
}

.btn-brand {
  border-radius: 30px !important;
  padding: 10px 25px !important;
  background-color: #fff !important;
  color: tomato !important;
  font-weight: 600 !important;
}
