.big-heading{
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.small-heading{
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.semi-heading{
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.btn-brand {
  border-radius: 30px !important;
  padding: 10px 25px !important;
  background-color: #fff !important;
  color: tomato !important;
  font-weight: 600 !important;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

ul li a{
  text-decoration: none !important;
  color: rgb(253, 213, 194);
}